/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 13, 2017, 10:58:53 AM
    Author     : Mohammad.Fareed
*/


body { 
    background-image: url("../images/login-skin.jpg");
    
	
    /*background-color: #467cef;
	 background="<?= base_url() ?>assets/images/user-img-background.jpg"*/
}
strong
{
    color: #333;
}

.panel-heading {
    background: #fff;
    border-bottom: 1px solid #eee;
    color: #5f6468;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.panel-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 300;
    letter-spacing: 0.025em;
    height: 175px;
    line-height: 45px;
    text-align: center;
    margin-top: 38%;
}
.login_footer {
    font-weight: 700;
    position: fixed;
    overflow: hidden;
    z-index: 10000;
    background: #efefef;
    text-align: center;
    padding: 0px 10px;
    height: 48px;
    line-height: 48px;
    bottom: 0;
    left: 0;
    right: 0;
}

.pin-section {
    position: relative;
    background-color: #272a2f;
    font-family: 'Titillium Web', sans-serif;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
}
#restartbtn {
    text-align: center;
    color: #fff;
    cursor: pointer;
    margin: 20px;
}
.table {
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 100%;
    text-align: center;
}


/*------
# Pincode
----*/

.pincode {
    position: fixed;
    overflow: hidden;
    height: 667px;
    width: 375px;
    z-index: 9999;
   
	background-image: url("../images/login-backgrounds.jpg");
    /* background-color: #457bef;    */
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    /*-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.6);*/
    top: 50%;
    left: 50%;
    margin-top: -335px;
    /* Negative half of height. */
    margin-left: -188px;
    /* Negative half of width. */
}

#numbers {
    max-width: 300px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    display: block;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    opacity: 1;
}

#numbers.hide {
    opacity: 0.3;
}

.pincode button {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    background-color: rgb(69, 123, 239);
    border: 0;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
    border-radius: 100%;
    opacity: 1;
    outline: 0;
    border: 2px solid #fdfdfd;
}

.pincode button:active {
    background-color: rgba(0, 0, 0, 0.6);
    outline: 0;
}

.pincode #fields {
    max-width: 200px;
    padding: 0 20px;
    margin: 50px auto;
    position: relative;
    display: block;
}

.pincode #fields .numberfield {
    text-align: center;
}

.pincode #fields .numberfield span {
    height: 10px;
    width: 10px;
    border: 2px solid #a59797;
    background-color: transparent;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.pincode #fields .numberfield.active span {
    background-color: #fffbfb;
}

.pincode #fields .numberfield.right span {
    background-color: #272a2f;
    border-color: #272a2f;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}


/*------
# Toast Grid
----*/

.grid {
    list-style: none;
    margin-left: -20px;
}

.grid__col--1-of-3,
.grid__col--2-of-6,
.grid__col--4-of-12 {
    width: 33.33333%;
}

.grid__col--1-of-4,
.grid__col--2-of-8,
.grid__col--3-of-12 {
    width: 25%;
}

.grid__col {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -.25em;
    min-height: 1px;
    padding-left: 20px;
    vertical-align: top;
}

.grid__col--centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.grid__col--d-first {
    float: left;
}

.grid__col--d-last {
    float: right;
}

.grid--no-gutter {
    margin-left: 0;
    width: 100%;
}

.grid--no-gutter .grid__col {
    padding-left: 0;
}

.grid--no-gutter .grid__col--span-all {
    margin-left: 0;
    width: 100%;
}

.grid__col--ab {
    vertical-align: bottom;
}

.grid__col--am {
    vertical-align: middle;
}

.miss {
    -webkit-animation: miss .8s ease-out 1;
    animation: miss .8s ease-out 1;
}

@-webkit-keyframes miss {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        -webkit-transform: translate(-25px, 0);
        transform: translate(-25px, 0);
    }
    20% {
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }
    30% {
        -webkit-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
    }
    40% {
        -webkit-transform: translate(20px, 0);
        transform: translate(20px, 0);
    }
    50% {
        -webkit-transform: translate(-10px, 0);
        transform: translate(-10px, 0);
    }
    60% {
        -webkit-transform: translate(10px, 0);
        transform: translate(10px, 0);
    }
    70% {
        -webkit-transform: translate(-5px, 0);
        transform: translate(-5px, 0);
    }
    80% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes miss {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    10% {
        -webkit-transform: translate(-25px, 0);
        transform: translate(-25px, 0);
    }
    20% {
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }
    30% {
        -webkit-transform: translate(-20px, 0);
        transform: translate(-20px, 0);
    }
    40% {
        -webkit-transform: translate(20px, 0);
        transform: translate(20px, 0);
    }
    50% {
        -webkit-transform: translate(-10px, 0);
        transform: translate(-10px, 0);
    }
    60% {
        -webkit-transform: translate(10px, 0);
        transform: translate(10px, 0);
    }
    70% {
        -webkit-transform: translate(-5px, 0);
        transform: translate(-5px, 0);
    }
    80% {
        -webkit-transform: translate(5px, 0);
        transform: translate(5px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

#hastylink {
    position: fixed;
    bottom:5px;
    left: 0;
    right: 0;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}